body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

header :hover {
  color: #ffffff;
}

.site_container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-primary,
.btn-outline-primary {
  background-color: blueviolet !important;
  color: #fff;
}

.card-img,
.card-img-bottom,
.card-img-top {
  height: 320px !important;
}

.rating span {
  color: blueviolet;
}

.product-info {
  padding: 1rem;
}

/*media queries for MEDIUM DEVICES*/
@media screen and (max-width: 600px) {
  .card-img,
  .card-img-bottom,
  .card-img-top {
    height: 320px !important;
  }
}

.img_large {
  max-width: 70%;
  height: 480px;
}

.img_thumbnail {
  height: 80px;
}

#basic-nav-dropdown {
  color: #ffffff;
}

#signin {
  color: #ffff;
}

.small_container {
  max-width: 600px;
}

.checkout_steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout_steps > div.active {
  border-bottom: 0.2rem solid blueviolet;
  color: blueviolet;
}

.navbar-brand {
  color: #ffffff !important;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #0d6dfddc;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

.sidebarLink {
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.sidebarLink:hover {
  color: black;
}

.btn-dark {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.btn:hover {
  background-color: transparent;
}

.btn:focus {
  background-color: transparent;
}

.text-bold {
  font-weight: bold;
}

svg {
  font-size: 1.5rem;
}

